{% extends 'home/base.html' %}
{% load static %}

{% block content %}
                  <br><br><br>

                  <h1>Welcome</h1>
                  <p class="display">Create your account</p>
                  <br>
                  <button type="button" class="btn btn-light">
                   <img src="{% static 'home/images/google-logo.png' %}" width="15" height="15">
                   Google
                  </button>
                  <button type="button" class="btn btn-light">
                    <img src="{% static 'home/images/fb-logo.png' %}" width="15" height="15">
                    Facebook
                  </button>
                  <br>
                    <br>
                    <div class="row">
                      <div class="w-25">
                        <hr>
                      </div>
                      <div class="w-50">
                        <p class="display">Or continue with</p>
                      </div>
                      <div class="w-25">
                        <hr>
                      </div>
                    </div>
                    
                    <form method="post" action="{% url 'signup' %}">
                      {% csrf_token %}
                    <div class="container elemcontainer">
                  <div class="form-floating mb-2 ">
                    <input type="text" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>

                  <div class="mb-1 form-check form-switch">
                  </div>

                  <button class="w-100 btn btn-lg btn-light" type="submit">Log in</button>
                  </div>
              </div>
            </form>

            {% endblock %}
             